html,body {
  color: #555555;
  padding-left: 2px;
}

div.header {
  font-size: 26px;
  font-weight: bold;
  margin-top: 12px;
}

hr {
  margin: 12px 0;
}

table.settingsTable {
  margin-bottom: 10px;
}

li {
  margin-bottom: 6px;
}

#action_status {
  color: #87B974;
  display: inline-block;
  margin-left: 6px;
}

div.next {
  display: inline-block;
  margin: 0 10px;
  font-weight: bold;
}

#save_button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  /* btn-success */
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  /* btn-sm */
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
#save_button:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

span.version {
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
}

code {
    background-color: #f7f7f7;
    font-size: 11px;
    border: 1px solid #e2e2e2;
}

.current_version {
  color: #10b50e;
}