<meta charset="UTF-8">
<head>
	<link rel="stylesheet" id="app-stylesheet" type="text/css" href="../dist/app.css">
</head>

<body>
	<div id='mount-node'></div>
</body>
<script type="text/javascript" src="../libs/chrome-cast/cast_sender.js"></script>
<script type="text/javascript" src="../libs/chrome-cast/cast_framework.js"></script>
<script type="text/javascript" src="../libs/chrome-payments/buy.min.js"></script>
<script type="text/javascript" src="../libs/chrome-web-server/wsc-chrome.min.js"></script>
<script type="text/javascript" src='../dist/app.bundle.js'></script>
